{
  "graphicsPath": "../graphics-js",
  "templatePath": "../dailygraphics-templates",
  // leave driveFolder blank to create new sheets in the same folder as their templates
  "driveFolder": "0B2rSjDbnpA5XTThSNDZkWlJTX1E",
  // where to deploy graphics / compiled web files
  // use "local" to export compiled project to a path on your computer
  "deployTo": "s3",
  // if deployTo = s3 - for s3 deploy, bucket info - remove if local deploy
  "s3": {
    "live": {
      "bucket": "apps.npr.org",
      "prefix": "dailygraphics/graphics"
    },
    "stage": {
      "bucket": "stage-apps.npr.org",
      "prefix": "dailygraphics/graphics"
    }
  },
  // if deployTo = local - remove comment for local deploy path
  // "exportPath": "../graphics-js/exports",
  // for creating fallback png, path to Chrome app on your computer, default path for MacOS
  "chromePath": "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome",
  // px size for fallback, default is same size as "desktop" setting in the rig
  // default: width: 600, height: 800
  "fallbackSize": {
    "width": 600,
    "height": 800
  },
  // id and/or class selector of HTML element to capture as fallback
  // use ".graphic" to just capture the chart, default for web fallback
  // use "body" to capture the chart chatter, good for export to PNG
  "fallbackElement": ".graphic",
  // this is the NPR Visuals Google Analytics property. update to use your own.
  "analyticsID": "UA-5828686-75"
}
