{
  "graphicsPath": "../graphics-js",
  "templatePath": "../dailygraphics-templates",
  // leave driveFolder blank to create new sheets in the same folder as their templates
  "driveFolder": "0B2rSjDbnpA5XTThSNDZkWlJTX1E",
  // where to deploy graphics / compiled web files
  // use "local" to export compiled project to a path on your computer
  "deployTo": "s3",
  // if deployTo = s3 - for s3 deploy, bucket info - remove if local deploy
  "s3": {
    "live": {
      "bucket": "apps.npr.org",
      "prefix": "dailygraphics/graphics"
    },
    "stage": {
      "bucket": "stage-apps.npr.org",
      "prefix": "dailygraphics/graphics"
    }
  },
  // if deployTo = local - remove comment for local deploy path
  // "exportPath": "../graphics-js/exports",
  // px size for fallback, default is {width: 600, height: 800}
  // remove comment to get same size as "desktop" setting in the rig
  // "fallbackSize": {
  //  "width": 730,
  //  "height": 1200
  // },
  // id and/or class selector of HTML element to capture as fallback
  // default uses ".graphic" to just capture the chart, good for web fallback
  // remove comment for "body" to capture the chart chatter, good for export to PNG
  // "fallbackElement": "body",
  // this is the NPR Visuals Google Analytics property. update to use your own.
  "analyticsID": "UA-5828686-75"
}
